<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#f6f9ff"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='logo.png') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Georgian Driving Exam</title>
    </head>
    <body>
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
        <div class="header" id="header">
            <h1>Georgian Driving Exam</h1>
        </div>
        <div class="ticket-container">
            <div class="placeholder"></div>
            <section>
                <div class="snap">
                    <div class="ticket" style="width: 80vw; max-width: 600px;">

                        <div class="linklist" style="
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                        ">
                            <img class="profilepic" src="{{ session.get('pic') }}" style="margin: 8px; margin-right: 24px; clip-path: circle();">
                            <div class="linklist" style="margin: 0; flex-direction: column; display: flex; align-items: baseline;">
                                <h2>Меню</h2>
                                <span>{{ session.get('user') }}</span>
                                <div class="linklist" style="margin: 8px;">
                                    <span class="hidden nextexam" id="butInstall">Установить</span>
                                    <span class="nextexam" onclick="logout(this)">Выйти</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="stack">
                <div class="snap">
                    <div class="ticket">
                        <div class="linklist">
                            <span class="nextexam" onclick="recreate()">Начать экзамен</span>
                        </div>
                    </div>
                </div>
            </section>
            <div class="placeholder"></div>
        </div>
    </body>
</html>
