<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#f6f9ff"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='maskable_icon.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Georgian Driving Exam</title>
    </head>
    <body>
        <div class="header" id="header">
            <h1>Georgian Driving Exam</h1>
        </div>

        <div class="ticket-container">
            <div class="placeholder"></div>
            <div class="snap">
                <div class="ticket" style="padding: 8px;">
                    <p>Мы храним email и статистику ответов для отображения пользователю в приложении и аутентификации. Можно запросить удаление данных внутри приложения.</p>
                    <p>We store email and user statistics for display in app. Data cleanup and reset can be requested from within the app.</p>
                </div>
            </div>
            <div class="placeholder"></div>
        </div>
    </body>
</html>
